@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html {
    overflow-x: hidden;
  }

body {
    font-family: 'Poppins', sans-serif;
    width: 100dvw;
    height: 100dvh;
}

header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-flow: column wrap;
}

h2 {
    text-align: center;
    font-size: 2em;
    background-color: #B2E5D6;
    font-weight: normal;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.menu-primario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100dvw;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    background-color: #F6E1F6;
    z-index: 1000;
}

.menu .logo {
    padding-top: 20px;
}

.search {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 5px;
}

.search input {
    width: 600px;
    max-width: 600px;
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.search span {
    position: relative;
    left: -45px;
    top: 7px;
}

.menu-icons {
    display: flex;
    gap: 100px;
}


a {
    color: #000;
}

.tag-icons a p {
    margin-top: 4px;
}

.icons span {
    font-size: 32px;
}

.menu-secundario {
    background-color: #B2E5D6;
    width: 100dvw;
    padding: 130px 7% 5px 7%;
    display: flex;
    gap: 230px;
}

.menu-secundario a {
    text-decoration: none;
    font-size: 1.1em;
}

.barra-anuncio {
    background-color: #fff;
    width: 100%;
    padding: 5px 5%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    gap: 140px;
    font-size: 0.8em;
}

.barra-anuncio p {
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translateX(100%) ;
    }
    100% {
        transform: translateX(-100%);
    }
}

.barra-anuncio {
    animation: marquee 30s linear infinite; /* 15 segundos de animação contínua */
  }

.hero {
    display: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel {
    min-width: 100%;
}

.carrossel img {
  height: 100%;
  object-fit: cover;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }

  .funcionalidades {
    display: flex;
    justify-content: space-around;
    background-color: #f7e5a4;
    padding: 10px 6%;
    margin: 30px 0;
  }
  
  .benefit {
    display: flex;
    align-items: center;
  }
  
  
  .benefit a {
    margin: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }

  .benefit a:hover {
    color: #000000dd;
  }
  
  .benefit img {
    cursor: pointer;
  }


  .carrossel-imagens {
    display: flex;
    padding: 40px 6%;
    flex: 1;
    align-items: center;
    gap: 250px;
  }
