@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100dvw;
    height: 100dvh;
}

header {
    background-color: #F6E1F6;
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-flow: column wrap;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.search {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 5px;
}

.search input {
    width: 600px;
    max-width: 600px;
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.search span {
    position: relative;
    left: -45px;
    top: 7px;
}

.menu-icons {
    display: flex;
    gap: 100px;
}


a {
    color: #000;
}

.tag-icons a p {
    margin-top: 4px;
}

.icons span {
    font-size: 32px;
}

.menu-secundario {
    background-color: #B2E5D6;
    width: 100%;
    padding: 5px 7%;
    display: flex;
    gap: 260px;
}

.menu-secundario a {
    text-decoration: none;
    font-size: 1.1em;
}

.barra-anuncio {
    background-color: #fff;
    width: 100%;
    padding: 5px 5%;
    display: flex;
    gap: 163px;
    font-size: 0.8em;
}

.hero {
    display: relative;
    max-width: 1440px;
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
}

.carrosel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosel {
    min-width: 100%;
}

.carrosel img {
  height: 100%;
  object-fit: cover;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }